.App {
  text-align: center;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

span {
  padding-right:5px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.button {
  margin: auto;
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}

button:disabled {
    color: grey;
    opacity: 0.3;
    cursor: default;
}

button.green {
    background: #47cf73;
    color: #000;
}

button.red {
    background: #D90505;
    color: #FFF;
}

.heading {
  display: inline-flex;
  vertical-align: middle;
}

.signin {
  margin: auto;
  width: 90%;
}

.add-transaction {
  margin: auto;
  width: 90%;
}

.transactions {
  margin: auto;
  width: 90%;
}

ul.transaction-list {
  text-align: left;
  list-style-type: none;
}

ul.transaction-list span {
  display: inline-block;
  width: 45%
}

@media only screen and (min-width: 800px) {
  .signin {
    width: 20%;
  }
  .add-transaction {
    width: 20%;
  }
  .transactions {
    width: 20%;
  }
}

.grid-main {
  grid-template-areas:   "header header"
                        "content sidebar"
                        "footer footer";
  grid-template-rows:    150px 1fr 100px;
  grid-template-columns: 1fr 200px;
}

input[type=text], input[type=date], input[type=email], input[type=password], input[type=number], select {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
